# ansible playbooks retry file
*retry
# pytho cache file
*pyc
*__pycache__*

#sphinx documents
doc/*

#local virtual machine inventory file
ansible/vms

#vars files which depends on environment
ansible/group_vars
ansible/host_vars
